<!-- Education Section -->
<h2 class="text-yellow-800 text-lg font-bold mb-3 text-center" style="color: #ff9900;"><i class="fa fa-graduation-cap fa-fw mr-2 text-warning"></i>&nbsp;Education</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN: Card View -->
            <div class="card shadow-lg mb-4">
                <div class="card-body">
                    <div class="mb-3">
                        <p class="opacity-75 mb-1" style="color: #333;"><b>Indian Institute of Engineering Science and Technology, Shibpur</b></p>
                        <p class="text-blue mb-1" style="color: #0066cc;"><i class="fa fa-calendar fa-fw mr-2"></i> &nbsp;Nov 2022 - 2026</p>
                        <p class="mb-0" style="color: #000;">Bachelor of Technology in Computer Science and Technology</p>
                    </div>
                </div>
            </div>
            <!-- END: Card View -->
        </div>
        <div class="col-md-6">
            <!-- BEGIN: Card View -->
            <div class="card shadow-lg mb-4">
                <div class="card-body">
                    <div class="mb-3">
                        <p class="opacity-75 mb-1" style="color: #333;"><b>Bandhgora Anchal Vidyalaya (H.S), Jhargram</b></p>
                        <p class="text-blue mb-1" style="color: #0066cc;"><i class="fa fa-calendar fa-fw mr-2"></i>&nbsp;2013 - 2021</p>
                        <p class="mb-0" style="color: #000;">Secondary and Higher Secondary</p>
                    </div>
                </div>
            </div>
            <!-- END: Card View -->
        </div>
    </div>
</div>
