<!-- src/app/education/education.component.html -->

<section>
  <div class="relative px-6 lg:p-4 lg:px-6 bg-white-100 fly-in" data-aos="fade-up">
    <br>
    <h1 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Education</h1>
    <br>
    <ul class="education-list">
      <li *ngFor="let item of educationData" class="education-item" [style.--accent-color]="item.accentColor" data-aos="fade-up" [attr.data-aos-delay]="item.delay">
        <div class="date">{{ item.date }}</div>
        <div class="title">{{ item.title }}</div>
        <div class="descr">
          <p *ngFor="let desc of item.description">{{ desc }}</p>
        </div>
      </li>
    </ul>
    <br>
  </div>
</section>
