
<header class="lg inset-x-0 z-50 bg-white-100">
    <nav class="flex items-center justify-between p-4 lg:px-4" aria-label="Global">
      <div class="flex lg:flex-1">
        <a routerLink="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Uttam Mahata</span>
          <img class="h-8 w-auto" src="assets/u.jpeg.png" alt="uttam">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button *ngIf="!isMobileMenuOpen" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" (click)="openMobileMenu()">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12 bg-white">
        <a routerLink="/" class="text font-semibold leading-6 text-gray-900 hover:text-indigo-500">Home</a>
        <a href="#education" class="text font-semibold leading-6 text-gray-900 hover:text-indigo-500">Education</a>
        <a href="#skills" class="text font-semibold leading-6 text-gray-900 hover:text-indigo-500">Skills</a>
        <a href="#services" class="text font-semibold leading-6 text-gray-900 hover:text-indigo-500">Services</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#projects" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">View Projects</a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div *ngIf="isMobileMenuOpen" class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a routerLink="/" class="-m-1.5 p-1.5" (click)="closeMobileMenu()">
            <span class="sr-only">Uttam Mahata</span>
            <img class="h-8 w-auto" src="assets/u.jpeg.png" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="closeMobileMenu()">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- Mobile menu content -->
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a routerLink="/" (click)="closeMobileMenu()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover:text-indigo-500"> <i class="fas fa-home mr-2"></i>Home</a>
              <a href="#education" (click)="closeMobileMenu()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover:text-indigo-500"><i class="fas fa-graduation-cap mr-2"></i>Education</a>
              <a href="#skills" (click)="closeMobileMenu()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover:text-indigo-500"><i class="fas fa-lightbulb mr-2"></i>Skills</a>
              <a href="#services" (click)="closeMobileMenu()" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover:text-indigo-500"><i class="fas fa-cogs mr-2"></i>Services</a>
              </div>
            <div class="py-6">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
