<mat-toolbar color="primary" class="text-dark header-toolbar justify-content-center bg-light">
 
  <!-- Navigation links -->
    <a mat-button class="nav-link text-dark" routerLink="/" routerLinkActive="">About</a>
    <a mat-button class="nav-link text-dark" routerLink="/education" routerLinkActive="active">Education</a>
    <a mat-button class="nav-link text-dark" routerLink="/skills" routerLinkActive="active">Skills</a>
    <a mat-button class="nav-link text-dark" routerLink="/projects" routerLinkActive="active">Projects</a>
</mat-toolbar>
<style>
  .header-toolbar {
    background: #4FACFE;
    padding: 10px 0;
}

.nav-link {
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
}

.toggle-button {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-button .line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 767px) {
  .toggle-button {
    display: block;
  }

  .mr-auto {
    display: none;
  }
}

.active {
  background-color: #007bff !important; /* bg-primary color in Bootstrap */
  color: #fff !important;
}

</style>