<mat-toolbar color="primary" class="text-dark header-toolbar justify-content-center bg-dark">
 
    <a mat-button class="nav-link text-white bg-default" routerLink="/" routerLinkActive="">About</a>
    
    <a mat-button class="nav-link text-white" routerLink="/education" routerLinkActive="active">Education</a>
    <a mat-button class="nav-link text-white" routerLink="/skills" routerLinkActive="active">Skills</a>
    <a mat-button class="nav-link text-white" routerLink="/projects" routerLinkActive="active">Projects</a>
</mat-toolbar>


<style>
.header-toolbar {
    background: #4FACFE;
    padding: 10px 0;
    position: sticky; /* Add this line */
    top: 0; /* Add this line */
    z-index: 1000; /* Add this line */
}

.nav-link {
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
}




@media (max-width: 767px) {
 

  .mr-auto {
    display: none;
  }
}

.active {
  background-color: #007bff !important; 
  color: #fff !important;
}

</style>

