<p-accordion>
    <p-accordionTab header="Comprehensive Scoreboard Management System">
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <p>Developed a system using Spring Boot and Angular to manage exam scores across different exams.</p>
          <p>Tech Stack: Spring Boot, Angular, PostgreSQL, Docker</p>
        </div>
        <div class="p-col-12 p-md-6">
          <img src="assets/winn.jpeg" alt="Scoreboard" width="100%">
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="CRMS - A Course Recommendation System">
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <p>A machine learning project that recommends Coursera courses based on user preferences.</p>
          <p>Tech Stack: Python, NLP, TF-IDF, Scikit-learn</p>
        </div>
        <div class="p-col-12 p-md-6">
          <img src="assets/dcs.png" alt="CRMS" width="100%">
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
