<div id="projects" class="relative px-6 lg:px-8 bg-gray-100 p-4">
        <h1 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">My Projects</h1>
  
        <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="assets/dcs.png" alt="dcs" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="https://github.com/Uttam-Mahata/Document-Clustering">
                <span class="absolute inset-0"></span>
                Clustering Algorithms
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Optimizing Document Clustering</p>
          </div>
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="assets/winn.jpeg"  class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="https://winners-v2.web.app">
                <span class="absolute inset-0"></span>
                Frontend Development
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">Winners Education Pvt. Ltd</p>
          </div>
          <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="assets/qa.jpg"  class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-6 text-sm text-gray-500">
              
                <span class="absolute inset-0"></span>
                Clustering Algorithms, Natural Language Processing
             
            </h3>
            <p class="text-base font-semibold text-gray-900">Student QA Analysis</p>
          </div>
  </div>
</div>
  