<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText>
    </div>
  
    <div class="p-field p-col-12 p-md-6">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText>
    </div>
  
    <div class="p-field p-col-12">
      <label for="message">Message</label>
      <textarea id="message" rows="5" pInputTextarea></textarea>
    </div>
  
    <div class="p-field p-col-12">
      <button pButton type="submit" label="Send Message"></button>
    </div>
  </div>
  