<div id="contact" class="relative px-6 lg:px-8 bg-gray-100">
    <br>
    <h1 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Contact</h1>
  <div class="container mt-2">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Medinipur, WB</div>
          <div class="text-two">India</div>
        </div>
        
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">uttambav&#64;gmail.com</div>
          <div class="text-two">mahatauttam2004&#64;gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send me a message</div>
        <p>If you have any work for me or any types of queries related to any project, you can send me a message from here. It's my pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="email" placeholder="Enter your email">
        </div>
        <div class="input-box">
            <textarea placeholder="Enter your message"></textarea>
          </div>
        <br>
        <a href="#" class="mt-4 p-4 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Send Message</a>

      </form>
      
    </div>
    </div>
  </div>
  <br>
</div>
