<!-- github-projects.component.html -->


<div class="container bg-dark">
  <h2 class="text-center text-white text-lg font-bold mb-4">
    My Github Repositories
  </h2>
  <div *ngIf="projects" class="row">
    <div *ngFor="let project of projects" class="col-lg-6 col-md-6 mb-2">
      <div class="card h-100 project-card bg-dark text-white">
        <div class="card-body">
          <!-- BEGIN: Modified Code -->
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title font-weight-bold mb-0">{{ project.name }}</h5>
            <a [href]="project.githubLink" target="_blank" class="btn btn-primary">View Repo</a>
          </div>
          <!-- END: Modified Code -->
          <h6 class="card-subtitle text-muted mb-3">{{ project.description }}</h6>
          <p class="card-text mb-2">{{ project.details }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.project-card {
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(234, 230, 230, 0.1);
}
</style>