
<div id="skills" class="relative px-6 lg:px-8 bg-white-100 p-4">
  <h1 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl" data-aos="fade-up">Skills</h1>
  <br>
  <div class="skills-section" data-aos="fade-up" data-aos-delay="100">
    <div class="skills-header">
      <h2 class="text-black text-center">Programming Languages & Tools</h2>
    </div>
    <div class="skills-container">
      <div *ngFor="let skill of skillsData" class="skills-box" data-aos="zoom-in" [attr.data-aos-delay]="skill.delay">
        <div class="skills-title">
          <div class="skills-img">
            <img [src]="skill.imgSrc" [alt]="skill.altText" class="skills-icons">
          </div>
          <h3>{{ skill.title }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
