<div class="ng-star-inserted">
    <div class=" px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="mb-3 font-bold text-3xl">
            <span class="text-900">Skills &amp; </span><span class="text-blue-600">Interests</span>
        </div>
        <div class="text-700 mb-6">A snapshot of my key skills and technical interests</div>

        <div class="grid">
            <!-- Programming Languages -->
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                    <i class="pi pi-code text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Programming Languages</div>
                <span class="text-700 line-height-3">
                    C/C++, Java, Python
                </span>
            </div>

            <!-- Web Development -->
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                    <i class="pi pi-globe text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Web Development</div>
                <span class="text-700 line-height-3">
                    HTML, CSS, Angular, JavaScript, TypeScript, PrimeNG, SpringBoot
                </span>
            </div>

            <!-- Technical Skills -->
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                    <i class="pi pi-database text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Technical Skills</div>
                <span class="text-700 line-height-3">
                    Data Structures, Algorithms, OOP, Data Science, Database Management Systems
                </span>
            </div>

            <!-- Technical Interests -->
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
                    <i class="pi pi-lightbulb text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Technical Interests</div>
                <span class="text-700 line-height-3">
                    Data Science, Web Development, Machine Learning
                </span>
            </div>
        </div>
    </div>
</div>
