<div id="skills" class="relative px-6 lg:px-8 bg-gray-100 p-4">
    <h1 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Skills</h1>
    <br>
    <div class="skills-section">
      <div class="skills-header">
         <h2 class="text-black">Programming Languages & Tools</h2>
      </div>
      <div class="skills-container">
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://cdn.freebiesupply.com/logos/large/2x/html-5-logo-png-transparent.png"     alt="" class="skills-icons">
            </div>
            <h3>HTML 5</h3>
          </div>
  
        </div>
  
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/CSS.3.svg" alt="" class="skills-icons">
            </div>
            <h3>CSS3</h3>
          </div>
  
        </div>
        <!-- Add a Git Logo -->
        
  
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="" class="skills-icons">
            </div>
            <h3>JAVASCRIPT</h3>
          </div>
  
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="http://pluspng.com/img-png/nodejs-logo-png-nice-images-collection-node-js-desktop-wallpapers-370.png" alt="" class="skills-icons">
            </div>
            <h3>NODE.JS</h3>
          </div>
  
        </div>

        <!-- Add a git logo -->

        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="" class="skills-icons">
            </div>
            <h3>GIT</h3>
          </div>
          </div>
          <div class="skills-box">
            <div class="skills-title">
              <div class="skills-img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg" alt="" class="skills-icons">
              </div>
              <h3>Linux</h3>
            </div>
            </div>

       




  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
  <!--            use C++ logo-->
              <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" alt="" class="skills-icons">
            </div>
            <h3>C/C++</h3>
          </div>
  
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
  <!--            Use Java logo-->
              <img src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg" alt="" class="skills-icons">
            </div>
            <h3>Java</h3>
          </div>
  
        </div>
  
  <!--      Add Angular-->
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
  <!--            Use Angular logo-->
              <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="" class="skills-icons">
            </div>
            <h3>Angular</h3>
  
          </div>
        </div>
  
        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
  <!--            Use Python logo-->
              <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="" class="skills-icons">
  
            </div>
            <h3>Python</h3>
          </div>
        </div>
  
  
      </div>
  
    </div>
  
  </div>