<div id="services" class="relative px-6 lg:px-8 bg-gray-100">
  <h1 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Services</h1>
  <section class="mt-4">
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-laptop-code"></i> <!-- Updated icon -->
          </div>
          <h3>Web Development</h3>
          <p>
            We specialize in building responsive and user-friendly websites tailored to your needs, utilizing the latest web technologies and best practices.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-paint-brush"></i> <!-- Updated icon -->
          </div>
          <h3>Graphic Design</h3>
          <p>
            Our creative team can help you establish a strong visual identity with stunning graphics, logos, and branding materials that resonate with your audience.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-brush"></i> <!-- Updated icon -->
          </div>
          <h3>Responsive Design</h3>
          <p>
          
            <!-- responsive design -->
            Ensure your website looks great on all devices with responsive design, allowing for a seamless user experience across desktops, tablets, and smartphones.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-chart-line"></i> <!-- Updated icon -->
          </div>
          <h3>SEO</h3>
          <p>
            Improve your website's visibility and ranking on search engines with our SEO services, including keyword optimization, content strategy, and link building.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-chart-bar"></i> <!-- Updated icon -->
          </div>
          <h3>Data Analysis</h3>
          <p>
            Harness the power of data to make informed business decisions and gain valuable insights with our data analysis and visualization services.
          </p>
        </div>
      </div>
    </div>
  </section>
  <br>
</div>
