<div class="fab fabVertical active">
    <div class="fabNav fabNav--left">
      <a href="" class="fabItem ic-facebook">
        <span class="fabTooltip">Facebook</span>
        <i class="fabIcon fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="fabItem ic-ig">
        <span class="fabTooltip">Instagram</span>
        <i class="fabIcon fa-brands fa-instagram"></i>
      </a>
      <a href="" class="fabItem ic-tw">
        <span class="fabTooltip">Twitter</span>
        <i class="fabIcon fa-brands fa-x-twitter"></i>
      </a>
    </div>
    <div class="fabTrigger">
      <a href="">
        <span class="icon"></span>
      </a>
    </div>
    <div class="fabNav fabNav--right">
      <a href="" class="fabItem ic-facebook">
        <span class="fabTooltip">Hotline</span>
        <i class="fabIcon fa-solid fa-phone"></i>
      </a>
      <a href="" class="fabItem ic-ig">
        <span class="fabTooltip">Livechat</span>
        <i class="fabIcon fa-regular fa-comment-dots"></i>
      </a>
      <a href="" class="fabItem ic-tw">
        <span class="fabTooltip">Map</span>
        <i class="fabIcon fa-solid fa-location-dot"></i>
      </a>
    </div>
  </div>
  