<div class="relative px-6 lg:px-8 bg-gray-100 p-4">
  <div class="mx-auto max-w-2xl py-20 bg-white p-4" style="border-radius: 10px;">
    <br>
    <div class="text-center">
      <img src="assets/uttamm.jpg" alt="uttamm" class="mx-auto" style="max-height: 140px; border-radius: 50%;">
    </div>
    <div class="text-center mt-6">
      <div class="flex items-center justify-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl mt-2">Hello, I'm Uttam Mahata</h1>
      </div>
      <h2 class="text-3xl sm:text-xl mt-4 text-gray-600">
        <span class="typing-effect"></span> <br>
        
      </h2>
     

      <p class="mt-4 text-lg text-black-600" style="text-align:justify">
        I'm a second-year undergraduate student pursuing a Bachelor's degree in Computer Science and Technology at Indian Institute of Engineering Science and Technology, Shibpur. I'm deeply interested in data science, machine learning, and web development.
        Outside of coding, I enjoy exploring nature, playing sports, and spending time with friends and family. I'm also a keen reader and love diving into books on a wide range of topics.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href ="assets/Uttam_CV.pdf" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" download="Uttam_CV.pdf">Download CV</a>
        <a href="#contact" class="font-semibold leading-6 text-gray-900 hover:text-indigo-500">Contact Me <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>
</div>

<app-education></app-education>
<!--Skills -->
<app-skills></app-skills>
<app-services></app-services>
<app-projects></app-projects>
<app-contact></app-contact>
